.products{ /*Container of all Products*/
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    height: 100%;
    width: 100%;

}
.product{ /*a single product*/
    margin-left: 10px;
    background-color: #d6d6d6;
    border-radius: 5px;
}

a{ /*Especially for the links to the product itself*/
    text-decoration: none;

}

#product-image{ /*Product Image*/
    height: auto;
    width: 500px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}

/*.product-container{ 
    height: auto;
    width: 550px;
}*/

#product-link {
    color: #1b8700;
}