/* General (Kenobi) */

body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

html{
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

p{
    font-family: inherit;
    font-size: 1.25em;
}


/* Navigation bar */
.nav-wrapper{
    display: flex;
   justify-content: space-between;
   padding: 38px;
   background-color: #333333;
   height: 23px;
}

.left{
    display: flex;
}

.nav-wrapper > .left > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid white;
}

.nav-link-wrapper a:hover{
    color: white;
}

.active-nav-link{
    border-bottom: 1px solid white;
}

.active-nav-link a{
    color: white !important;
}

.nav-link-image-wrapper img{
    width: 22px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -17px;
    
}


/*Imprint bar*/
.imprint-wrapper{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 38px;
    height: 23px;

    position:absolute; 
    bottom: 0;
    width: 100%;
    height: 2em;
}

.imprint-link-warpper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.imprint-wrapper > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.imprint-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.imprint-link-wrapper:hover{
    border-bottom: 1px solid white;
}

.imprint-link-wrapper a:hover{
    color: white;
}


/* Content */
.text-wrapper{
    text-align: center;
    padding: 38px;
    font-size: 0.9em;
    width: 50%;
    margin: auto
}

.image-wrapper img{
    align-self: center;
    padding: 38px;
    width: 30%;
}

.image-wrapper{
    margin: auto;
}

.image-thin img{
    margin: auto;
}

.formular-wrapper{
    width: 50%;
    margin: auto;
}

.container{
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
}

.content{
    padding-bottom: 2em;
    margin: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    margin: 100%;
}
