/* General (Kenobi) */
body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
}


/* Navigation bar */
.nav-wrapper{
    display: flex;
   justify-content: space-between;
   padding: 38px;
   background-color: #333333;
   height: 23px;
}

.left{
    display: flex;
}

.nav-wrapper > .left > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: boder-bottom 0.5s;
}

.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid white;
}

.nav-link-wrapper a:hover{
    color: white;
}

.active-nav-link{
    border-bottom: 1px solid white;
}

.active-nav-link a{
    color: white !important;
}

.nav-link-image-wrapper img{
    width: 22px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -17px;
    
}


/* Content */
.text-wrapper{
    text-align: center;
    padding: 38px;
    font-size: 0.9em;
}